.users-list {
    background: white;
    padding: 20px;

    .list {
        display: flex;
        flex-direction: column;
    }

    fieldset {
        display: flex;
        flex-direction: column;

        &>* {
            margin-bottom: 10px;;
        }
    }
}