body {
  background: grey;
  font-family: sans-serif;
  padding: 20px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.user-post, .comments {
  margin: 0 20px;
  background: white;
  padding: 10px;;
}